#configuracion{
    width: 100%;
    margin: auto;
    display: none;
    height: 500px;
}

.configuracion_contenedor{
    background: url('../img/mardelplata2.jpg') no-repeat !important;
    background-size: cover !important;
}

#configuracion_precios_vista_previa{
    height: 210px;
    float: left;
    width: 280px;
    background: url('../img/configuracion_precios_vprevia.png') no-repeat 10px 24px;
    background-color: rgba(255,255,255,0.6);
    margin-left: 20px;
}

/* Tabla */
#configuracion>table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 15px 5px;
}

#configuracion>table>tbody>tr>td{
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    background: white;
    padding: 5px 15px;
}

/* Titulo vista previa*/
#configuracion_precios_vista_previa>span{
	font-weight: bold;
    color: #656565;
    font-size: 11px;
    margin-left: 10px;
}

/* Contenedor numeros Vista Previa */
#configuracion_precios_vista_previa>div{
	position: relative;
    width: 144px;
    height: 97px;
    top: 72px;
    left: 15px;
}

/* Aclaracion Vista Previa */
#configuracion_precios_vista_previa>p{
    position: relative;
    top: 78px;
    left: 15px;
    font-size: 10px;
    color: gray;
}

/* Contenedor de precios Vista Previa */
#configuracion_precios_vista_previa>div>div{
	margin-top: 3px;
}

#configuracion_precios_vista_previa>div>div:first-child{
	margin-top: 0px;
}

.configuracion_subtitulo{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #009acf;
    width: 250px;
    display: block;
}