/* === GENERIC ELEMENTS == */
body {
  background: #fff url(../img/bg.png) repeat;
}

#logo { margin-top: 20px;}

.container {
  width: 900px;
  min-width: 500px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}



#div1{ 
  margin: 0 auto;
  min-width: 900px;
  display: table;
}


.demo h2.select-label{
    font-size: 9px;
    color: #545454;
    text-transform: uppercase;
    margin: 0 0 2px 2px;
    line-height: 16px;
}

.form-buttons{
    width: 100%;
    text-align:  right;
    clear:both;    
}

header h1 {
  padding: 0.25em 0;
  border-bottom: 1px solid #EEE;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    transition: all 150ms linear;
}
header .ui-toggle-switch {
  position: absolute;
  top: 10px;
  right: 0;
}



/* === DEMO SPECIFIC TWEAKS AND LAYOUT === */
.demo h2 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
.demo {
  padding: 2em 0 1.5em 0;
}

.demo div.ui-toggle-switch {
  display: block;
  padding: 0.65em 0;
}
#radio {
  padding: 1em 0;
}
#modal {
  display: none;
}
.modalDemo p {
  color: #777;
  width: 50%;
}
.modalDemo p a {
  color: #1584DE;
}
#eq > span {
  margin-right: 13px;
  width: 7px;
}
.demo .ui-button {
  vertical-align: top;
}





/* === DARK MODE === */
body.dark {
  background-image: url(../img/dark_wall.png);
}
.dark h1 {
  color: #EEE;
  border-bottom: 1px solid #444;
}
.dark h2 {
  color: #EEE;
}
.dark .ui-toggle-switch label {
  color: #FFF;
}
.dark .ui-toggle-switch .ui-state-active {
  background: transparent;
  color: #FFF;
}
.dark .modalDemo p {
  color: #AAA;
}
  .dark .modalDemo p a {
    color: #50b1ff;
  }
  
  
/* === CLEARFIX === */
/* Ver explicacion del funcionamiendo del fix en http://www.webtoolkit.info/css-clearfix.html */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body{
    padding: 0px;
    margin: 0px;
}

.container-medida { float: left; width: 31%; height: 50px; margin: 10px; }


.modal {
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll; // <--- this guy right here
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}


body{font-family:'PT Sans';background-color:#acacac;background-image:url('../img/bg.png');font-size:14px;color:#f5f5f5;background-attachment:fixed;-moz-transition-duration:.4s;-o-transition-duration:.4s;-webkit-transition-duration:.4s;transition-duration:.4s}body .container1>.row-fluid>.span10>h4{margin-bottom:30px;padding-bottom:10px;text-align:center;-ms-text-shadow:none;-o-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}body .heading-4{margin-bottom:30px;padding-bottom:10px;text-align:center;-ms-text-shadow:none;-o-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}body.light{background-color:#ececec;color:#454545}body.dark{background-color:#464646;color:#e6e6e6}body .tabbable{color:#454545}body .tabbable.dark{color:#e6e6e6}body .tabbable.dark .tab-pane a{color:#61caff}body .tabbable.dark .tab-pane a:hover{color:#90daff}body .tabbable.grey{color:#f8f8f8}body .tabbable.grey .tab-pane a{color:#61caff}body .tabbable.grey .tab-pane a:hover{color:#90daff}.features{background-color:rgba(0,0,0,.6);-o-box-shadow:inset 0 0 5px rgba(0,0,0,.5);-ms-box-shadow:inset 0 0 5px rgba(0,0,0,.5);-moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5);-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5);box-shadow:inset 0 0 5px rgba(0,0,0,.5);padding:20px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.features ul li{font-size:1.2em;line-height:1.8em}.features ul li .popover{color:#505050;font-size:.82em}#texture-check,#papper-stack{margin-top:-2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;line-height:normal;font-size:.8em;padding:1px 3px}#texture-check>[class*="icon"],#papper-stack>[class*="icon"]{visibility:hidden}#texture-check.active>[class*="icon"],#papper-stack.active>[class*="icon"]{visibility:visible}.divider{height:1px;margin:15px auto;clear:both}.divider.tiny{margin:5px}.divider.small{margin:10px 0}.divider.large{margin:30px auto}.divider.x-large{margin:45px auto}.divider.bottom-preview{margin:100px auto}.map{background-image:url('http://maps.google.com/maps/api/staticmap?center=37.400470,-122.072981&zoom=13&size=700x300&sensor=false')}.color-swatch{padding-left:5px}.color-swatch>div{width:20px;height:20px;display:inline-block;*display:inline;*padding:3px 10px;border:1px solid #e6e6e6;cursor:pointer}.tabbable.custom-tabs>.nav-tabs,.tabbable.custom-tabs>.nav-tabs>li,.tabbable.custom-tabs>.nav-tabs>li>a{margin:0;padding:0;border:0;outline:none;background-color:none;background-image:none}.tabbable.custom-tabs>.nav-tabs>li>a{padding:20px 25px;margin-right:3px;background-color:#e6e6e6;color:#737373;-o-text-shadow:0 1px 1px #fff 1px 1px #fff;-moz-text-shadow:0 1px 1px #fff 1px 1px #fff;-ms-text-shadow:0 1px 1px #fff 1px 1px #fff;-webkit-text-shadow:0 1px 1px #fff 1px 1px #fff;text-shadow:0 1px 1px #fff 1px 1px #fff;-o-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4);-ms-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4);-moz-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4);box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4);-moz-transition-duration:.15s;-o-transition-duration:.15s;-webkit-transition-duration:.15s;transition-duration:.15s}.tabbable.custom-tabs>.nav-tabs>li>a>[class*="icon"],.tabbable.custom-tabs>.nav-tabs>li>a>span{-moz-transition-duration:.4s;-o-transition-duration:.4s;-webkit-transition-duration:.4s;transition-duration:.4s}.tabbable.custom-tabs>.nav-tabs>li>a>[class*="icon"]{display:inline-block;min-width:15px;text-align:left;font-size:1.3em}.tabbable.custom-tabs>.nav-tabs>li>a:hover{border:none;background-color:#f0f0f0}.tabbable.custom-tabs>.nav-tabs>li.active{margin:0;padding:0;border:0;outline:none;background-color:none;background-image:none}.tabbable.custom-tabs>.nav-tabs>li.active>a{background-color:#f5f5f5;color:#696969;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-o-text-shadow:0 1px 1px #fff 1px 1px #fff;-moz-text-shadow:0 1px 1px #fff 1px 1px #fff;-ms-text-shadow:0 1px 1px #fff 1px 1px #fff;-webkit-text-shadow:0 1px 1px #fff 1px 1px #fff;text-shadow:0 1px 1px #fff 1px 1px #fff}.tabbable.custom-tabs>.nav-tabs>li.active>a:hover{border:none;background-color:#f5f5f5}.tabbable.custom-tabs>.tab-content{background-color:#f5f5f5;padding:20px;padding-top:10px;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:0 4px 4px 4px}.tabbable.custom-tabs>.tab-content>.tab-pane{-webkit-animation-duration:0;-moz-animation-duration:0;-o-animation-duration:0;animation-duration:0;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-backface-visibility:visible!important;-webkit-animation-name:fadeInUp;-moz-backface-visibility:visible!important;-moz-animation-name:fadeInUp;-o-backface-visibility:visible!important;-o-animation-name:fadeInUp;backface-visibility:visible!important;animation-name:fadeInUp}.tabbable.custom-tabs>.tab-content h4{padding-bottom:10px;border-bottom:1px solid #dcdcdc;-o-text-shadow:0 1px 1px #fff;-moz-text-shadow:0 1px 1px #fff;-ms-text-shadow:0 1px 1px #fff;-webkit-text-shadow:0 1px 1px #fff;text-shadow:0 1px 1px #fff}.tabbable.custom-tabs>.tab-content .box{background-color:#ededed;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px;margin-bottom:10px}.tabbable.custom-tabs>.tab-content .map{width:100%;height:180px;margin-bottom:20px;border:none;outline:none}.tabbable.custom-tabs>.tab-content .custom-checkbox{margin-top:-2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;line-height:normal;font-size:.8em;padding:1px 3px}.tabbable.custom-tabs>.tab-content .custom-checkbox>[class*="icon"]{visibility:hidden}.tabbable.custom-tabs>.tab-content .custom-checkbox.active>[class*="icon"]{visibility:visible}.tabbable.custom-tabs>.tab-content .socials a{color:#fff;display:block;border:none;margin:0;padding:30px 0;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:49.99%;text-align:center;vertical-align:middle;font-size:1.5em;-moz-transition-duration:.5s;-o-transition-duration:.5s;-webkit-transition-duration:.5s;transition-duration:.5s;float:left}@media screen and (max-width:980px){.tabbable.custom-tabs>.tab-content .socials a{padding:20px 0}}.tabbable.custom-tabs>.tab-content .socials a:hover{-o-box-shadow:inset 0 0 0 80px rgba(0,0,0,.5);-ms-box-shadow:inset 0 0 0 80px rgba(0,0,0,.5);-moz-box-shadow:inset 0 0 0 80px rgba(0,0,0,.5);-webkit-box-shadow:inset 0 0 0 80px rgba(0,0,0,.5);box-shadow:inset 0 0 0 80px rgba(0,0,0,.5);text-decoration:none;cursor:pointer}.tabbable.custom-tabs>.tab-content .socials a.facebook{background-color:#3b5998}.tabbable.custom-tabs>.tab-content .socials a.twitter{background-color:#39a9e0}.tabbable.custom-tabs>.tab-content .socials a.google-plus{background-color:#d14836}.tabbable.custom-tabs>.tab-content .socials a.github{background-color:#505050}.tabbable.custom-tabs>.tab-content .socials a.pinterest{background-color:#cb2027}.tabbable.custom-tabs>.tab-content .socials a.linked-in{background-color:#007fb1}.tabbable.custom-tabs.dark>.nav-tabs>li>a{background-color:#373737;color:#a9a9a9;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.dark>.nav-tabs>li>a:hover{background-color:#414141}.tabbable.custom-tabs.dark>.nav-tabs>li.active>a{background-color:#464646;color:#e6e6e6;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.dark>.nav-tabs>li.active>a:hover{border:none;background-color:#464646}.tabbable.custom-tabs.dark>.tab-content{background-color:#464646}.tabbable.custom-tabs.dark>.tab-content h4{padding-bottom:10px;border-bottom:1px solid #2d2d2d;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.dark>.tab-content .box{background-color:#3e3e3e}.tabbable.custom-tabs.dark.dark-input input,.tabbable.custom-tabs.dark.dark-input select,.tabbable.custom-tabs.dark.dark-input textarea,.tabbable.custom-tabs.dark.dark-input .dark-input{background-color:#535353;border-color:#393939;color:#e6e6e6}.tabbable.custom-tabs.grey>.nav-tabs>li>a{background-color:#696969;color:#dbdbdb;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.grey>.nav-tabs>li>a:hover{background-color:#737373}.tabbable.custom-tabs.grey>.nav-tabs>li.active>a{background-color:#787878;color:#f8f8f8;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.grey>.nav-tabs>li.active>a:hover{border:none;background-color:#787878}.tabbable.custom-tabs.grey>.tab-content{background-color:#787878}.tabbable.custom-tabs.grey>.tab-content h4{padding-bottom:10px;border-bottom:1px solid #5f5f5f;-o-text-shadow:none;-ms-text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;text-shadow:none}.tabbable.custom-tabs.grey>.tab-content .box{background-color:#707070}.tabbable.custom-tabs.grey.dark-input input,.tabbable.custom-tabs.grey.dark-input select,.tabbable.custom-tabs.grey.dark-input textarea,.tabbable.custom-tabs.grey.dark-input .dark-input{background-color:#858585;border-color:#6b6b6b;color:#f8f8f8}.tabbable.custom-tabs.tabs-left>.nav-tabs>li>a,.tabbable.custom-tabs.tabs-right>.nav-tabs>li>a{margin-right:0;margin-bottom:3px}.tabbable.custom-tabs.tabs-left>.nav-tabs>li>a>[class*="icon"],.tabbable.custom-tabs.tabs-right>.nav-tabs>li>a>[class*="icon"]{min-width:20px}.tabbable.custom-tabs.tabs-left>.nav-tabs>li.active>a,.tabbable.custom-tabs.tabs-right>.nav-tabs>li.active>a{-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.tabbable.custom-tabs.tabs-left>.nav-tabs>li>a{-o-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4);-ms-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4);-moz-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4);-webkit-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4);box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4)}.tabbable.custom-tabs.tabs-left>.tab-content>.tab-pane{-webkit-backface-visibility:visible!important;-webkit-animation-name:fadeInRight;-moz-backface-visibility:visible!important;-moz-animation-name:fadeInRight;-o-backface-visibility:visible!important;-o-animation-name:fadeInRight;backface-visibility:visible!important;animation-name:fadeInRight}.tabbable.custom-tabs.tabs-right>.nav-tabs>li>a{-o-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4);-ms-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4);-moz-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4);-webkit-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4);box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4)}.tabbable.custom-tabs.tabs-right>.tab-content{border-radius:4px 0 4px 4px}.tabbable.custom-tabs.tabs-right>.tab-content>.tab-pane{-webkit-backface-visibility:visible!important;-webkit-animation-name:fadeInLeft;-moz-backface-visibility:visible!important;-moz-animation-name:fadeInLeft;-o-backface-visibility:visible!important;-o-animation-name:fadeInLeft;backface-visibility:visible!important;animation-name:fadeInLeft}.tabbable.custom-tabs.tabs-below>.nav-tabs>li>a{-o-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4);-ms-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4);-moz-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4);box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4)}.tabbable.custom-tabs.tabs-below>.nav-tabs>li.active>a{-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.tabbable.custom-tabs.tabs-below>.tab-content{border-radius:4px 4px 4px 0}.tabbable.custom-tabs.tabs-below>.tab-content>.tab-pane{-webkit-backface-visibility:visible!important;-webkit-animation-name:fadeInDown;-moz-backface-visibility:visible!important;-moz-animation-name:fadeInDown;-o-backface-visibility:visible!important;-o-animation-name:fadeInDown;backface-visibility:visible!important;animation-name:fadeInDown}.tabbable.custom-tabs.tabs-animated>.tab-content>.tab-pane{-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.tabbable.custom-tabs.flat>.nav-tabs>li>a,.tabbable.custom-tabs.flat>.nav-tabs>li.active a{border-radius:0}.tabbable.custom-tabs.flat>.tab-content{border-radius:0}.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane input,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane select,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane textarea,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane .add-on,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane label,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane .btn,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane .btn-mini,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane .btn-small,.tabbable.custom-tabs.flat-all>.tab-content>.tab-pane .btn-large{border-radius:0}.tabbable.custom-tabs.mini>.nav-tabs>li>a{padding:8px 10px}.tabbable.custom-tabs.small>.nav-tabs>li>a{padding:10px 15px}.tabbable.custom-tabs.large>.nav-tabs>li>a{padding:15px 20px}.tabbable.custom-tabs.shadow>.nav-tabs>li>a{-o-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow>.nav-tabs>li.active>a{-o-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-left>.nav-tabs>li>a{-o-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);box-shadow:inset -8px 0 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-left>.nav-tabs>li.active>a{-o-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-3px -2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-3px -2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-3px -2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-3px -2px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-3px -2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-right>.nav-tabs>li>a{-o-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4),2px -2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4),2px -2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4),2px -2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4),2px -2px 5px -2px rgba(0,0,0,.4);box-shadow:inset 8px 0 7px -9px rgba(0,0,0,.4),2px -2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-right>.nav-tabs>li.active>a{-o-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),3px -2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),3px -2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),3px -2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),3px -2px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),3px -2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-below>.nav-tabs>li>a{-o-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4),-2px 3px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4),-2px 3px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4),-2px 3px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4),-2px 3px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 8px 7px -9px rgba(0,0,0,.4),-2px 3px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.tabs-below>.nav-tabs>li.active>a{-o-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px 2px 5px -2px rgba(0,0,0,.4);-ms-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px 2px 5px -2px rgba(0,0,0,.4);-moz-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px 2px 5px -2px rgba(0,0,0,.4);-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px 2px 5px -2px rgba(0,0,0,.4);box-shadow:inset 0 0 0 0 rgba(0,0,0,.4),-2px 2px 5px -2px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow>.tab-content{-o-box-shadow:0 0 4px rgba(0,0,0,.4);-ms-box-shadow:0 0 4px rgba(0,0,0,.4);-moz-box-shadow:0 0 4px rgba(0,0,0,.4);-webkit-box-shadow:0 0 4px rgba(0,0,0,.4);box-shadow:0 0 4px rgba(0,0,0,.4)}.tabbable.custom-tabs.shadow.papper-stack>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-BR>.tab-content{-o-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #f5f5f5,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #f5f5f5,10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #f5f5f5,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #f5f5f5,10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #f5f5f5,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #f5f5f5,10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #f5f5f5,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #f5f5f5,10px 10px 0 rgba(0,0,0,.175);box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #f5f5f5,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #f5f5f5,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #f5f5f5,10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack.grey>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.grey>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-BR.grey>.tab-content{-o-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #787878,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #787878,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #787878,10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #787878,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #787878,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #787878,10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #787878,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #787878,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #787878,10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #787878,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #787878,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #787878,10px 10px 0 rgba(0,0,0,.175);box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #787878,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #787878,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #787878,10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack.dark>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.dark>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-BR.dark>.tab-content{-o-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #464646,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #464646,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #464646,10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #464646,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #464646,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #464646,10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #464646,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #464646,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #464646,10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #464646,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #464646,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #464646,10px 10px 0 rgba(0,0,0,.175);box-shadow:1px 1px 0 rgba(0,0,0,.1),3px 3px 0 #464646,4px 4px 0 rgba(0,0,0,.125),6px 6px 0 #464646,7px 7px 0 rgba(0,0,0,.15),9px 9px 0 #464646,10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-BL>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-right>.tab-content{-o-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #f5f5f5,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #f5f5f5,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #f5f5f5,-10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #f5f5f5,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #f5f5f5,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #f5f5f5,-10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #f5f5f5,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #f5f5f5,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #f5f5f5,-10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #f5f5f5,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #f5f5f5,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #f5f5f5,-10px 10px 0 rgba(0,0,0,.175);box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #f5f5f5,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #f5f5f5,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #f5f5f5,-10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-BL.grey>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-right.grey>.tab-content{-o-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #787878,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #787878,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #787878,-10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #787878,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #787878,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #787878,-10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #787878,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #787878,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #787878,-10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #787878,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #787878,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #787878,-10px 10px 0 rgba(0,0,0,.175);box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #787878,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #787878,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #787878,-10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-BL.dark>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-right.dark>.tab-content{-o-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #464646,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #464646,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #464646,-10px 10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #464646,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #464646,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #464646,-10px 10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #464646,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #464646,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #464646,-10px 10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #464646,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #464646,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #464646,-10px 10px 0 rgba(0,0,0,.175);box-shadow:-1px 1px 0 rgba(0,0,0,.1),-3px 3px 0 #464646,-4px 4px 0 rgba(0,0,0,.125),-6px 6px 0 #464646,-7px 7px 0 rgba(0,0,0,.15),-9px 9px 0 #464646,-10px 10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-LT>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below>.tab-content{-o-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #f5f5f5,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #f5f5f5,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #f5f5f5,-10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #f5f5f5,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #f5f5f5,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #f5f5f5,-10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #f5f5f5,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #f5f5f5,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #f5f5f5,-10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #f5f5f5,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #f5f5f5,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #f5f5f5,-10px -10px 0 rgba(0,0,0,.175);box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #f5f5f5,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #f5f5f5,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #f5f5f5,-10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-LT.grey>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below.grey>.tab-content{-o-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #787878,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #787878,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #787878,-10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #787878,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #787878,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #787878,-10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #787878,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #787878,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #787878,-10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #787878,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #787878,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #787878,-10px -10px 0 rgba(0,0,0,.175);box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #787878,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #787878,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #787878,-10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-LT.dark>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below.dark>.tab-content{-o-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #464646,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #464646,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #464646,-10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #464646,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #464646,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #464646,-10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #464646,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #464646,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #464646,-10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #464646,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #464646,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #464646,-10px -10px 0 rgba(0,0,0,.175);box-shadow:-1px -1px 0 rgba(0,0,0,.1),-3px -3px 0 #464646,-4px -4px 0 rgba(0,0,0,.125),-6px -6px 0 #464646,-7px -7px 0 rgba(0,0,0,.15),-9px -9px 0 #464646,-10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-TR>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below>.tab-content{-o-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #f5f5f5,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #f5f5f5,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #f5f5f5,10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #f5f5f5,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #f5f5f5,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #f5f5f5,10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #f5f5f5,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #f5f5f5,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #f5f5f5,10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #f5f5f5,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #f5f5f5,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #f5f5f5,10px -10px 0 rgba(0,0,0,.175);box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #f5f5f5,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #f5f5f5,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #f5f5f5,10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-TR.grey>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below.grey>.tab-content{-o-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #787878,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #787878,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #787878,10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #787878,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #787878,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #787878,10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #787878,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #787878,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #787878,10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #787878,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #787878,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #787878,10px -10px 0 rgba(0,0,0,.175);box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #787878,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #787878,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #787878,10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow.papper-stack-TR.dark>.tab-content,.tabbable.custom-tabs.shadow.papper-stack-auto.tabs-below.dark>.tab-content{-o-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #464646,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #464646,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #464646,10px -10px 0 rgba(0,0,0,.175);-ms-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #464646,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #464646,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #464646,10px -10px 0 rgba(0,0,0,.175);-moz-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #464646,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #464646,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #464646,10px -10px 0 rgba(0,0,0,.175);-webkit-box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #464646,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #464646,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #464646,10px -10px 0 rgba(0,0,0,.175);box-shadow:1px -1px 0 rgba(0,0,0,.1),3px -3px 0 #464646,4px -4px 0 rgba(0,0,0,.125),6px -6px 0 #464646,7px -7px 0 rgba(0,0,0,.15),9px -9px 0 #464646,10px -10px 0 rgba(0,0,0,.175)}.tabbable.custom-tabs.shadow-box-only>.tab-content{-o-box-shadow:0 0 4px rgba(0,0,0,.4);-ms-box-shadow:0 0 4px rgba(0,0,0,.4);-moz-box-shadow:0 0 4px rgba(0,0,0,.4);-webkit-box-shadow:0 0 4px rgba(0,0,0,.4);box-shadow:0 0 4px rgba(0,0,0,.4)}@media screen and (max-width:980px){.tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a{min-width:0;text-align:center;padding:15px}.tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>span{display:none}.tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>[class*="icon"]{font-size:2em;text-align:center;min-width:0}}@media screen and (max-width:768px){.tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a{min-width:0;text-align:center;padding:15px}.tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>span{display:none}.tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>[class*="icon"]{font-size:2em;text-align:center;min-width:0}}@media screen and (max-width:480px){.tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a{min-width:0;text-align:center;padding:15px}.tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>span{display:none}.tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>[class*="icon"]{font-size:2em;text-align:center;min-width:0}}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px);}100%{opacity:1;-o-transform:translateY(0);}}@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0)}}.fadeInUp{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp;-o-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px);}100%{opacity:1;-o-transform:translateY(0);}}@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}100%{opacity:1;transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px);}100%{opacity:1;-o-transform:translateX(0);}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInRight{0%{opacity:0;-moz-transform:translateX(20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInRight{0%{opacity:0;-o-transform:translateX(20px);}100%{opacity:1;-o-transform:translateX(0);}}@keyframes fadeInRight{0%{opacity:0;transform:translateX(20px)}100%{opacity:1;transform:translateX(0)}}.fadeInRight{-webkit-animation-name:fadeInRight;-moz-animation-name:fadeInRight;-o-animation-name:fadeInRight;animation-name:fadeInRight}.modal-form{background-color:transparent;width:100%;height:100%;margin:0;top:10%;bottom:0;padding:20px;left:0;right:0;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:auto}@media screen and (max-width:768px){.modal-form{padding:0 10px}}

/* Footer */
#foot { position: fixed; bottom: 0; width: 100%; height: 60px; background: url('../img/background_footer1.png') repeat-x; }

/* Bordes de la Tabla */
.border_table_iz{ width: 23px; background: url('../img/table_border.png') 17px 0 repeat-y; }
.border_table_der{ width: 23px; background: url('../img/table_border.png') -6px 0 repeat-y; }
.foot_tabla_iz{ width: 23px;  height: 72px; background: url('../img/table_footer_corner.png') 17px 0 no-repeat;  }
.foot_tabla_der{ width: 23px; height: 72px; background: url('../img/table_footer_corner.png') -6px 0 no-repeat; }
.foot_tabla_mid{ height: 72px; background: url('../img/table_footer_base.png') 0 0 repeat-x; }
.head_tabla_iz{ width: 23px;  height: 6px; background: url('../img/table_footer_corner1.png') 17px 0px no-repeat; }
.head_tabla_mid{ height: 6px; background: url('../img/table_footer_top.png') 0 0 repeat-x; }
.head_tabla_der{ width: 23px; height: 6px; background: url('../img/table_footer_corner1.png') -6px 0 no-repeat; }

/* Header */
/*#header{ height: 55px; width: 100%; position: fixed; top: 0px; background: url('../img/head_bg.png') repeat-x; z-index: 1; }*/
#table_head{ display: none; }
#table_head a { display: block; float: left; line-height: 35px; text-align: center; color: black; text-transform: uppercase; font-size: 11px; font-weight: bold; }
/*#head_logo{ float: left; width: 301px; height: 55px; }
#head_logo_solo {display: none;}*/
/*#header_buttons_container{ background: url('../img/head_bg_shadow.png') repeat-x; min-height: 50px; text-align: right; padding-right: 24px; padding-top: 8px; margin-left: 301px;}*/
#overlay{ position: fixed; display: none; opacity: 0; width: 100%; height: 100%; z-index: 1; background: url('../img/overlay_bg.png');}



/* Cuadro de busqueda */
#busqueda{ position: fixed; left: 50%; width: 573px; margin-left: -286px; top: 50px; z-index: 1; overflow: hidden; display: none; }
#busqueda_header{ width: 573px; height: 79px; background: url('../img/busqueda_header.png') repeat-y; }
#busqueda_body{ width: 573px; background: url('../img/busqueda_body.png') repeat-y; float: left;}
#busqueda_botonera { float: left; padding-top: 10px; }
#busqueda_botonera a { width: 155px; height: 35px; line-height: 34px; opacity: 0.4; display: block; margin-left: 14px; border-left: transparent 6px solid; color: black; text-decoration: none; }
#busqueda_botonera a:hover { border-left: #e3e3e3 6px solid; opacity: 0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
#busqueda_botonera a img { margin-left: 18px; }
#busqueda_botonera a.busqueda_botonera_active {border-left: #0094c7 6px solid; background: #f5f5f5; opacity: 1;}
#busqueda_opciones { float: left; background: #f5f5f5; padding: 15px 20px; width: 390px; min-height: 250px; }
#busqueda_opciones>div { display: none; float: left; width: 100%;}
#busqueda_opciones>div.busqueda_opciones_active { display: block; }
#busqueda_footer{ width: 573px; height: 64px; background: url('../img/busqueda_footer.png') repeat-y; float: left; text-align: right; padding-right: 20px;}
#busqueda_footer button { margin-top: 10px; margin-right: 10px; }
#busqueda_contenido { background: #ffffff; width: 100%; position: relative; left: 7px; height: 100%; }


/* FIX: quita borde activo en chrome */
button:active { outline: none !important; border: none !important; }
button:focus { outline: none !important; }

/* Sin resultados */
#sin_resultados{ position: fixed; top: 50%; left: 50%; margin-left: -151px; display: none; }

/* Procesando */
#procesando{ position: fixed; top: 50%; left: 50%; margin-left: -30px; display: none; }

/* Bootstrap LABEL customization */
label.field{ text-transform: uppercase; font-size: 10px; font-weight: bold !important; color: #A8A8A8 !important;}

/* Placeholders de los inputs */
input, textarea { color: #555555; }
.placeholder { color: #999999; }

/* Bootstrap INPUT customization */
input.form-control { border-radius: 2px !important; border-color: #c0c0c0;}

/* Resumen */
#resumen{ height: 70px; }

/* BUSQUEDA RAPIDA */
.tt-dropdown-menu{
  background: #ffffff;
}

.tt-hint{display: none;}

.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 500px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-dataset-productos{
  text-align: left;
  font-size: 13px;
}

.tt-suggestion {
  display: block;
  padding: 7px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-dataset-productos{
  width: 100%;
}

span.tt-suggestions {
  display: table !important;
  width: 100%;
}

div.tt-suggestion {
  display: table-row !important;
}

div.tt-suggestion-cell-codigo{
  display:table-cell !important;
  white-space: nowrap !important; 
  padding: 7px 4px 7px 10px; 
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

div.tt-suggestion-cell-descripcion{
  display:table-cell !important;
  white-space: normal; 
  padding: 7px 10px; 
  text-align: left;
}

div.tt-suggestion-cell-precio{
  display:table-cell !important;
  white-space: nowrap !important; 
  padding: 7px 10px 7px 4px;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}

.tt-suggestion p {
  margin: 0;
  white-space: nowrap;
}


.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 2px;
    line-height: 1.33;
}



/* FIELD VALIDATION ICON FOR FORMS */
.right-inner-addon { position: relative; }
.right-inner-addon input { padding-right: 30px; }
.right-inner-addon  i { position: absolute; right: 0px; right: 10px; padding: 10px 12px; pointer-events: none;display: none; }

/* VALIDATE COLORS */
.iconValidaUpdate{color: #555555;}
.iconInvalidUpdate{color: #e02d2d;}
.iconValidUpdate{color: #555555;}

/* VALIDATION TOOLTIP */
.tooltip-inner {  font-size: 11px; padding: 8px 8px;}
.tt-dropdown-menu {min-width: 300px;}
.tt-dataset-localidades{ }

/* LOCALIDAD */
  div.tt-dataset-localidades > span.tt-suggestions > div.tt-suggestion { white-space: normal !important; display: block !important; }
  div.tt-hint{display: none;}



/* WATABLE INFO ICON */
.watable_info_icon_active{ cursor: pointer; }



/* FIELD VALIDATION ICON FOR FORMS */
.right-inner-addon { position: relative; }
.right-inner-addon input { padding-right: 30px; }
.right-inner-addon  i { position: absolute; right: 0px; right: 10px; padding: 10px 12px; pointer-events: none;display: none; }

/* VALIDATE COLORS */
.iconValidaUpdate{color: #555555;}
.iconInvalidUpdate{color: #e02d2d;}
.iconValidUpdate{color: #555555;}

/* VALIDATION TOOLTIP */
.tooltip-inner { min-width: 150px; font-size: 11px; padding: 8px 8px;}
.tt-dropdown-menu {min-width: 300px;}
.tt-dataset-localidades{ }

/* LOCALIDAD */
  div.tt-dataset-localidades > span.tt-suggestions > div.tt-suggestion { white-space: normal !important; display: block !important; }
  div.tt-hint{display: none;}



header {
    position: fixed;
    padding: 0px;
    height: 51px;
    background: url('../img/head_bg.png');
    box-shadow: 0px 2px 6px black; 
    width: 100%;
}

#head_logo{ 
    float: left;
    width: 201px;
    min-height: 51px;
}

#head_logo img{ 
    margin: 10px 0px 0px 0.5em;
}

#head_logo_solo {display: none;}

#menu_container {
    display: block;
    float: none;
    background: url('../img/head_bg_shadow.png') repeat-x; 
    min-height: 51px; 
    text-align: right;
    padding: 9px 10px 0 0;
}

.quicksearch{ width: 300px; margin-right: 10px; }
.quicksearch_input{ 
  left: auto !important;
  right: -100px !important; 
  width: 400px;
}

#resultados{ 
  margin: 0 10px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.margin_20{
  margin: 0 20px;
}

@media(max-width: 640px) {

}

@media(max-width: 600px) {


    header {
        padding: 0px;
        /*overflow: hidden;*/
        background-color: red;
        height: 51px;
        background: url('../img/head_bg.png');
    }

    #head_logo{ 
        display: none;
    }

    #head_logo_solo { 
        display: block;
        float: left;
        width: 50px;
        min-height: 51px;
    }

    #head_logo_solo img { 
        margin: 10px 0px 0px 0.5em;
    }

    #menu_container {
        display: block;
        float: none;  
        min-height: 51px;
        /*overflow: hidden;*/
        padding: 9px 10px 0 0;
    }

    #head_logo{ display: none; }

    #head_logo_solo{ display: block; float: left; }

    .quicksearch{ width: 62%; margin-right: 10px; }
    .quicksearch_input{ 
      left: auto !important;
      right: -100px !important; 
      width: 300px;
    }

}


