/*
DATEPICKER - DATERANGE
Muestra del codigo HTML a usar
<div class="input-daterange">
	<div>
		<input value="2012-04-05" class="form-control"/>
		<span class="add-on"><i class="fa fa-calendar"></i></span>
		<input value="2012-04-07" class="form-control"/>
	</div>
</div>

*/
.input-daterange{
	display: table !important;
	width: 100%;
	margin-bottom: 10px;
}

.input-daterange>div{
	display: table-row !important;
	width: 100%;
}

.input-daterange .add-on{
	padding: 4px 10px !important;
	height: 34px !important;
}

.input-daterange>div>input , .input-daterange>div>span{
	display: table-cell !important;
}

.input-daterange input:first-child{
	border-radius: 4px 0 0 4px;
	border-right: solid 0px;
}

.input-daterange input:last-child{
	border-radius: 0 4px 4px 0;
	border-left: solid 0px;
}




/* Fixes para que se vea bien */
.datepicker-dropdown:after{
	margin-top: 1px;
}

.datepicker-dropdown.datepicker-orient-left:before {
	left: 5px;
}

.datepicker-dropdown.datepicker-orient-top:before {
	top: -6px;
}

/* Icono */
.add-on{
	background: #f4f4f4;
}