/* FLOAT LABEL */
.floatLabel{
	color: black; 
	font-weight: 600; 
	font-size: 10px; 
	margin-left: 5px; 
	text-transform: uppercase;
}

.floatLabel_conVal{
	border-color: #f5f5f5 !important; 
	background-color: #f4f4f4 !important;
}

.floatLabel_sinVal{
	border-color: #cccccc !important; 
	background-color: #ffffff;
}





/* FLOAT LABEL PARA DATERANGE */
.floatLabelDaterange{
	display: table;
	width: 100%;
}

.floatLabelDaterange>div{
	display: table-row;
}

.floatLabelDaterange>div>span{
	display: table-cell;
}