html{
	overflow: hidden;
}

body{
	background: url('../img/bg.png');
}

/* 	Fix, no label. Corre el icono hacia arriba cuando no existe label en el input 
	El HTML sería el siguiente
	
	<div class="form-group has-error has-feedback no-label">
  		<input type="text" class="form-control" id="inputError2" placeholder="Nombre">
  		<span class="glyphicon glyphicon-remove form-control-feedback no-label"></span>
	</div>
*/
.no-label{
	top: 0px !important;
}


/* ICONOS EXTRA */
.no_focus:focus {
  outline: none !important;
}

.btn{
	font-size: 11px !important;
	text-transform: uppercase;
}


.icon-animate {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* MODAL */
.modal-header .close{ margin-top: -10px;}