/* ESTILO PARA GROWL */
.alert-growl {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
.growl-animated {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
    font-size: 12px !important;
}

.alert-success, .alert-info, .alert-danger, .alert-warning {
	-webkit-box-shadow: 0px 3px 10px -1px rgba(50, 50, 50, 1) !important;
	-moz-box-shadow:    0px 3px 10px -1px rgba(50, 50, 50, 1) !important;
	box-shadow:         0px 3px 10px -1px rgba(50, 50, 50, 1) !important;
}