/* HEADER */

header {
	padding: 0px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	width: 100%;
	margin-bottom: 0px;
}

#menu_container {
	display: block;
	float: none;
	height: 51px;
	padding: 9px 10px 0 0;
	background: url('../img/header_bg.png');
	background-size: auto 50px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}









/* LOGOS */

.logo{
    float: left;
    height: 52px;
}

.logo_solo{
	display: none;
	float: left;
	margin: 11px 0px 0px 11px;
}










/* BOTON MENU */

.menu_button{
	color: #ffffff;
	cursor: pointer;
	margin: 6px 0px 0px 0px;
	text-decoration: none;
	font-size: 23px !important;
}

.menu_button:hover{
	color: #00beff !important;
	text-decoration: none;
}

/*  Agrega una pequeña flecha en el
	 Menu Dropdown
*/
.agrega_flechita:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.agrega_flechita:after {
  position: absolute;
  top: -5px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/* BOOTSTRAP: SUBMENU AT LEFT */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{ top:0; left: -200px; width: 200px; margin-top:-6px;margin-left:-1px; -webkit-border-radius:0 6px 6px 6px; -moz-border-radius:0 6px 6px 6px; border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* Submenu placement itself */
.dropdown-submenu > .dropdown-menu { left: auto; right: 100%; }
/* Arrow position */
.dropdown-submenu { position: relative; }
.dropdown-submenu > a:after { position: absolute; left: 10px; top: 3px; float: none; border-right-color: #cccccc; border-width: 5px 5px 5px 0; }
.dropdown-submenu:hover > a:after { border-right-color: #ffffff; }
.dropdown-menu>li>a{ padding: 3px 20px 3px 25px; }





/* TAGS */

.tags{
	overflow: hidden;
	display: none;
}

.tags ul{
  overflow: hidden;
  width: 100%;
  margin: 3px 0px 0px 0px;
  list-style: none;
  padding: 0px 20px 0px 20px;
}

.tags ul li{
  float: left;
  margin: 0 .6em 6px 0.5em;
  text-transform: uppercase;
}

.tags ul a{
  background: #abe0ef;
  padding: .3em 0.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.tags ul a:hover{
  background: #efc9ab;
}

.tags ul a::before,
.tags ul a::after{
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #abe0ef;
  transform: skew(-10deg);  
}

.tags ul a::before{

  left: -.5em;
  border-radius: 5px 0 0 5px;
}

.tags ul a:hover::before{
  background: #efc9ab;
}

.tags ul a::after{
  right: -.5em;   
  border-radius: 0 5px 5px 0;
}

.tags ul a:hover::after{
  background: #efc9ab;
}

.tags ul .current,
.tags ul .current:hover{
  font-weight: bold;
  background: none;
}

.tags ul .current::after,
.tags ul .current::before{
  content: normal;
}



/* BUSQUEDA */

.menu_button_busqueda{
	position: absolute;
	right: 60px;
	color: rgb(160, 160, 160);
	z-index: 1000;
	font-size: 23px !important;
	margin-top: 4px;
	cursor: pointer;
}

.menu_button_busqueda:hover{
	color: #00beff !important;
	text-decoration: none;
}

.quicksearch{
  margin-top: 2px;
}

.quicksearch_avanzada{ 
  border-bottom-left-radius: 0px; 
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px; 
  height: 30px;
  margin-right: 10px;
  margin-top: 2px;
}

.quicksearch-codigo{
  display:table-cell !important;
  white-space: nowrap !important; 
  padding: 7px 4px 7px 10px;
  width: 115px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 13px;
}

.quicksearch-descripcion{
  display:table-cell !important;
  white-space: normal; 
  padding: 7px 10px; 
  text-align: left;
  font-size: 13px;
}

.quicksearch-precio{
  display:table-cell !important;
  white-space: nowrap !important; 
  padding: 7px 10px 7px 4px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  width: 80px;
  font-size: 13px;
}

/* Fix para mostrar resultados como tabla */
.select2-result-label_fix{
	display: table !important;
	width: 100%;
}


/* ESPACIO PARA LA PUBLICIDAD */

.contenedor-publicidad{
  overflow: hidden;
  height: 90px;
}

#publicidad{
  width: 550px;
  height: 75px;
  background: black;
  margin: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  float: left;
  cursor: pointer;
}


#boton-modo-carro{

}

.boton-cabecera{
  width: 75px;
  height: 75px;
  float: right;
  margin: 8px 5px 8px 0px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  padding-top: 10px;
  cursor: pointer;
  color: #33CAF9;
  background: black;
  border: solid 1px black;
}

.boton-cabecera:hover{
  background: #21424a;
  color: #33CAF9;
  border: solid 1px #33CAF9;
}

.boton-cabecera-activo{
  width: 75px;
  height: 75px;
  float: right;
  margin: 8px 5px 8px 0px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px;
  padding-top: 10px;
  cursor: pointer;
  background: #03CEFF;
  color: black;
  border: solid 1px black;
}