/* UPLOAD IMAGES */
#drop{
    background-color: #f2f2f2;
    padding: 40px 50px;
    margin-bottom: 0px;
    border: 8px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#4089c7;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color: #3178b5;
}

#drop input{
    display:none;
}

#upload_pic ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#upload_pic ul li{

    padding:15px;
    height: 52px;

    position: relative;
}

#upload_pic ul li input{
    display: none;
}

#upload_pic ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #454848;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 100px;
}

#upload_pic ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload_pic ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload_pic ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload_pic ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload_pic ul li.error p{ color:red; }


/* NUEVA GALERIA DE IMAGENES */


.placeholder {
    border: 1px solid cornflowerblue;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    float: left;
}
.galeria_tile {
    height: 170px;
    width: 170px;
    float: left;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: move;
    white-space: nowrap;
}

.galeria_tile .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.galeria_tile img{
  cursor: pointer;
  vertical-align: middle;
}

.galeria_grid {
    margin: 0px;
}

.galeria_tile button{
  position: absolute;
  width: 100px;
  bottom: 5px;
  left: 50%;
  margin-left: -50px;
  display: none;
}

.imagenes_crop_preview{
    max-width: 100%;
    max-height: 500px;
}

.galeria_articulo_img{
    width: 168px;
    height: 168px;
    overflow: hidden;
    white-space: nowrap;
}



.galeria_archivo_tooltip_imgs img{
    cursor: pointer; 
    margin: 7px; 
    border: solid 8px white;
    display: none;
}

.galeria_archivo_tooltip_imgs img.active{
    display: inline !important;
}

.galeria_archivo_indice{
    padding: 0px;
    height: 10px;
    margin: 0px auto 12px auto;
    list-style: none;
}

.galeria_archivo_indice li{
    margin: 0px 0px 0px 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: white;
    border-radius: 1px;
    opacity: 0.4;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}   

.galeria_archivo_indice li.active{
    opacity: 0.7;
}

.galeria_archivo_indice li:hover{
    opacity: 0.7;
}   