/* 	LISTADO DE RESULTADOS
    Muestra un pequeño listado con una busqueda y una
	Lista de <a/> para mostrar resultados
*/

/* quitamos borde redondeado superior */
.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

/* Clase activa, se usa para que jquery seleccione los artivos */
.active_ { 
	text-decoration: none; 
	background-color: #f5f5f5 !important; 
}


/* Campo de busqueda con placeholder icono Lupa */
input.search-query {
    padding-right: 26px;
}
form.form-search {
    position: relative;
    padding: 0px;
}
form.form-search-normal:after {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    right: 10px;
    opacity: .5;
    z-index: 1000;
}

form.form-search-loading:after {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e031";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    right: 16px;
    opacity: .5;
    z-index: 1000;
}

/* Thumbnails 80px */
.thumbnail80_lista{
    display: inline-block;
    border-radius: 3px;
    background: silver;
    width: 85px;
    height: 85px;
    padding: 5px;
    margin-right: 15px;
    background: #eeeeee;
}

.thumbnail80_lista img{
    width: 100%;
    height: 100%;
}