#listas_detalles{
	display: none;
	width: 250px;
	margin-left: 15px;
}

#listas_detalles table{
  background: white;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  width: 240px;
  margin-left: 15px;
}

#listas_detalles table thead tr{
  border-bottom: 4px solid #009acf;
  text-transform: uppercase;
  height: 30px;
  font-size: 12px;
}

#listas_detalles table thead tr th{
  text-align: center;
}

#listas_detalles table td{
  border-bottom: 1px solid #DCDCDC;
  height: 25px;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  color: #636363;
}