/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Patch modal bootstrap3 */

body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
  width: 100%;
  
}

.modal {
  bottom: auto !important;
  padding: 0;
  width: 400px;
  margin: 0px auto;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-content{
  width: 100% !important;
  height: 100% !important;


}

.modal.container {
  max-width: none;
}

.modal-footer {
	margin-top: 0px !important;
	padding: 0px 21px 15px 21px !important;
	text-align: right !important;
	border-top: 0px !important;
}

.modal-body {
	padding: 20px 21px 15px 21px !important;
}


/* FIX PARA BOOSTRAP FRAMEWORK MODAL SCROLL SHOW */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.close{
	font-size: 35px;
}