.reporte {
	margin:0px;
	padding:0px;
	width:98%;
	border:1px solid #969696;    
	border-spacing: 0;
	background: transparent;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	border-collapse: collapse;
}


.reporte tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.reporte tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.reporte tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.reporte tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.reporte tr:hover td{
	
}
.reporte tr:nth-child(odd){ background-color:#efefef; }
.reporte tr:nth-child(even){ background-color:#ffffff; }
.reporte td{
	vertical-align:middle;
	border:1px solid #969696;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
	white-space: nowrap;
}
.reporte td:last-child{
	white-space: normal !important;
}

.reporte tr:last-child td{
	border-width:0px 1px 0px 0px;
}.reporte tr td:last-child{
	border-width:0px 0px 1px 0px;
}.reporte tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.reporte tr:first-child td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e5e5e5) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e5e5e5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e5e5e5");	b
	background: -o-linear-gradient(top,#ffffff,#e5e5e5);

	background-color:#ffffff;
	border:0px solid #969696;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#3d3d3d;
}
.reporte tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e5e5e5) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e5e5e5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#ffffff,e5e5e5);

	background-color:#ffffff;
}
.reporte tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.reporte tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

