/* TABLA */
#resultados table{
	
}


#resultados thead{
	border-bottom: 4px solid #009acf;
}



#resultados thead tr th{
	height: 30px !important;
	line-height: 28px;
}


#resultados thead tr th a{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #4D4D4D;
	font-size: 12px !important;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	white-space: nowrap;
}














/* PIE DE LA TABLA */

#table_foot{
	width: auto;
	height: 45px;
	font-size: 10px;
	text-transform: uppercase;
}

.botonera_footer {
	float: left;
    width: 55px;
}

.botonera_footer:hover{
	position: relative;
	height: 34px;
	width: 270px;
}

.botonera_footer_container {
    display: inline-block;
    height: 34px;
    width: 270px;
    margin: 10px 0 0 6px;
}

.botonera_footer_container button, .columnpicker,  .pagesize{
	float: left;
	margin: 0px 5px;
}

.columnpicker ul{
	padding: 10px;
	left: auto;
	right: 0px;
	min-width: 130px;
}

.pagesize ul{
	min-width: 100px;
}










/* DATOS DE LA BUSQUEDA AL PIE */

.resumen{ 

	visibility: visible;
    float: right;
    text-align: right;
    margin: 40px 15px 0px 0px;
}

.resumen p{
	font-style: italic;
	color: #434343;
	font-size: 13px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	margin-bottom: 50px;
	margin-left: 20px;
}










/* MOSTRAR PROCESANDO... */
#procesando{ 
	display: none; 
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
}











/* TOOLTIP MAXWIDTH FIX */
.tooltip-inner {
    max-width: 650px !important;
    width: auto !important;
}

.tooltip{
	position: absolute;
}










/* GALERIA DE ARTICULOS (TOOLTIP) */
.art_gallery_index{
	padding: 0px;
	height: 10px;
	margin: 0px auto 12px auto;
}


.art_gallery_index li{
	margin: 0px 0px 0px 5px;
	width: 15px;
	height: 15px;
	display: inline-block;
	background: white;
	border-radius: 1px;
	opacity: 0.4;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}	

.art_gallery_index li.active{
	opacity: 0.7;
}

.art_gallery_index li:hover{
	opacity: 0.7;
}	

.art_gallery_pics{
	padding: 0px;
	width: 150px;
	height: 150px;
	background: blue;
	overflow: hidden;
	border-radius: 2px;
	background: #0b0b0b;
	white-space: nowrap;
	margin-top: 5px;
}

.art_gallery_pics li{
	width: 100%;
	height: 100%;
	display: inline-block;
	transition: all 0.5s ease-in-out;
}

.art_gallery_pics li div{
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.art_gallery_pics li:first-child{
	margin-left: 0px;
}




/* DETALLES */
#detalles{
	display: none;
    position: fixed;
    background: url('../img/header_bg.png');
    width: 100%;
    height: 206px;
    z-index: 1;
    bottom: 0px;
}