.unslider{ overflow:hidden; padding:0; float: left; margin: 8px 0px 8px 15px; width: 550px; height: 75px;}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>img{float:left}
.unslider-vertical>div{height:100%}
.unslider-vertical img{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap img{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap img.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:relative;z-index:10;cursor:pointer; opacity: 0.5; text-decoration: none;}
.unslider-arrow:hover{opacity: 1; text-decoration: none;}
.unslider-arrow.next{left:525px; top: -47px; font-size: 20px; color: white;}
.unslider-arrow.prev{left:-10px; top: -47px; font-size: 20px; color: white;}

