#layout_watable{
  width: calc(100% - 30px);
  margin: auto;
}

#carro_detalles{
  width: 250px;
  margin-left: 15px;
}

#carro_detalles table{
  background: white;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  width: 240px;
  margin-left: 15px;
}

#carro_detalles table thead tr{
  border-bottom: 4px solid #009acf;
  text-transform: uppercase;
  height: 30px;
  font-size: 12px;
}

#carro_detalles table thead tr th{
  text-align: center;
}

#carro_detalles table td{
  border-bottom: 1px solid #DCDCDC;
  height: 25px;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  color: #636363;
}


.carro-cantidad{
  display: inline;
  height: 22px;
  padding: 0px;
  text-align: center;
  width: 40px;
  border-radius: 2px;
  margin: 0px 5px;
}

.carro-cantidad-botones{
  display: inline;
}

.carro-cantidad-botones i{
  font-size: 19px !important;
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 10px;
  overflow: hidden;
  line-height: 0px;
}

.carro-cantidad-botones i:hover{
  opacity: 1;
}

.carro-cantidad-up{
  left: 0px;
  top: -4px;
  padding-top: 10px;
}

.carro-cantidad-down{
  left: -12px;
  top: 7px;
}

#carro_descuento_monto{
  margin-right: 0px;
  width: 80px;
  display: inline-block;
  text-align: right;
  font-size: 11px;
}

#carro_descuento_porcentaje{
  font-size: 11px;
}

.watable * {
  font-size: 12px !important;
}

.watable.table {
  width: 100%;
  margin: 0px;
  background: white;
  box-shadow: 0px 0px 10px #004C7E;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);

}


/* filas de la tabla */
.watable>tbody>tr>td{
  line-height: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.watable p {
  margin: 0;
}

.watable td,
.watable th {
  line-height: 14px;
  text-align: center;
  padding: 0px !important;
  height: 30px;
}

/* mod. centrar */
.watable th a { text-align: center; }

.watable i {
  margin: 0 0 0 2px;
  opacity: 0.5;
}

.watable tfoot .btn {
  height: 34px;
}

.watable tfoot tr td {
  text-align: left;
}

.watable span.filter {
  background-color: #999;
}

.watable .indeterminate {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}



.watable .columnpicker li,
.watable .actions li {
  padding: 4px 0px 2px 10px;
}

.watable .btn-toolbar {
  margin: 2px 0 0 0;
}

.watable .btn-toolbar .btn-group {
  vertical-align: top;
}

.pagination_container{
  height: 35px;
  width: 810px;
  float: right;
}

.pagination {
  margin: 0;
  height: 34px;
  float: right;
  margin: 5px 0px 0px 0px !important;
}

.pagination a {
  line-height: 24px;
}

.watable input[type=checkbox] {
  margin: 0;
  padding: 0;
  height: 13px;
}

.watable input[type=text].filter {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  width: 80px;
  float: left;
}

.watable .date-wrap {
  width: 100%;
  min-width: 115px;
}

.watable .dateWrap .add-on {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  float: right;
  cursor: pointer;
}

.watable .dropdown-menu {
  max-height: 250px;
  overflow: auto;
  text-align: left;
}

.watable .actions a {
  padding: 0;
  margin: 0;
}

.seleccionado{
  background: #5fa2dc !important;
}

.seleccionado>td{
  background: #5fa2dc !important;
}








/* DETALLES DEL ARTICULO */


.detalles-recuardo{
  text-align: left;
  font-size: 11px;
  color: white;
  position: absolute;
  background: black;
  top: 6px;
  left: 6px;
  padding: 6px;
  height: 50px;
}

.detalles-label{
  font-size: 10px;
  font-weight: bold;
  color: #33CAF9;
  line-height: 10px;
  height: 12px;
}


.detalles-codigo{
  width: 145px;
  font-size: 17px;
  font-weight: bold;
  height: 60px;
  line-height: 33px;
  white-space: nowrap;
}

.detalles-precios{
  width: 145px;
  color: #b6f9a6;
  font-size: 17px;
  font-weight: bold;
  height: 98px;
  line-height: 27px;
}

.detalles-precios-precio{
  overflow: hidden;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
}

.detalles-equivalencias{
  font-size: 12px;
  font-weight: bold;
  height: 98px;
  width: 280px;
}

.equivalencias-container{
  height: 69px;
  max-height: 69px;
  overflow-y: auto; 
  margin-top: 5px;
}

.detalles-equivalencias table{
  width: 100%;
  padding-right: 5px;
}

.detalles-equivalencias table .tr-item td{
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in;
}

.detalles-equivalencias table .tr-item td{
  white-space: nowrap;
  padding: 0px 5px;
  text-align: center;
  vertical-align: middle
}

.detalles-equivalencias table .tr-item td:last-child {
  border-right: solid 1px transparent;
  text-align: right;
}

.detalles-equivalencias table .tr-item td:first-child {
  border-left: solid 1px transparent;
  white-space: normal;
  text-align: left;
}

.detalles-equivalencias table .tr-item:hover td{
  background: #21424a;
  border-top: solid 1px #33CAF9;
  border-bottom: solid 1px #33CAF9;
}

.detalles-equivalencias table .tr-item:hover td:last-child {
  border-right: solid 1px #33CAF9;
}

.detalles-equivalencias table .tr-item:hover td:first-child {
  border-left: solid 1px #33CAF9;
}

.detalles-equivalencias table tr.tr-spacer{
  height: 1px;
}

.detalles-equivalencias table td{
  padding: 2px;
  margin-bottom: 3px;
}

.btn-ampliar-equivalencias{
  margin-top: -4px;
  margin-right: -4px;
  float: right;
  padding: 3px 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn-ampliar-equivalencias:hover{
  background: #21424a;
  border: solid 1px #33CAF9;
}

.detalles-equivalencias-lista-ampliada{
  cursor: pointer; 
  padding: 5px 7px;
}

.detalles-equivalencias-lista-ampliada:hover{
  background: #f3f3f3;
  transition: all 0.2s ease-in;
}

.detalles-equivalencias-lista-ampliada>div{
  float: right; 
  width:100px; 
  text-align: right;
}

.detalles-equivalencias-lista-ampliada>div>span:last-child{
  width: 60px; 
  text-align: right;  
  display: inline-block;
}


.detalles-aplicaciones>div.detalles-scroll{
  max-height: 137px;
  overflow-y: auto;
  font-size: 11px;
  width: 100%;
}

.detalles-dimensiones{
  width: 170px;
}

.detalles-dimensiones p{
  margin-bottom: 5px;
  line-height: 11px;
}

.detalles-dimensiones>div.detalles-scroll{
  max-height: 137px;
  overflow-y: auto;
  font-size: 11px;
  width: 100%;
}

.detalles-descripcion{
  font-size: 14px;
  height: 60px;
  max-height: 60px;
  line-height: 17px;
}

.detalles-descripcion-value{
  max-height: 36px;
  overflow: hidden;
}

.detalles-fotos{
  vertical-align: middle;
  text-align: center;
  height: 162px;
  width: 162px;
}

.detalles-fotos div img{
  max-width: 100%;
  max-height: 150px;
  cursor: pointer;
  border: solid 1px black;
}

.detalles-fotos div img:hover{
  border: solid 1px #33CAF9;
}

#detalles-fotos-prev{
    position: absolute;
    top: 70px;
    cursor: pointer;
    display: none;
    background: black;
    border-radius: 2px;
    padding: 3px;
    border: solid 1px black;
}

#detalles-fotos-prev > span{
  font-size: 14px;
  padding: 0px;
  line-height: 15px;
  margin-top: 3px;
}


#detalles-fotos-prev:hover{
  border: solid 1px #33CAF9;
  color: #33CAF9;
}


#detalles-fotos-next{
    position: absolute;
    top: 69px;
    right: 12px;
    cursor: pointer;
    display: none;
    background: black;
    border-radius: 2px;
    padding: 3px;
    border: solid 1px black;
}

#detalles-fotos-next > span{
  font-size: 14px;
  padding: 0px;
  line-height: 15px;
  margin-top: 3px;
}


#detalles-fotos-next:hover{
  border: solid 1px #33CAF9;
  color: #33CAF9;
}


.detalles-agregar_articulo{
  top: 72px;
  left: 168px;
  width: 90px;
  height: 98px;
  text-align: center;
  cursor: pointer;
  border: solid 1px black;
}

.detalles-agregar_articulo:hover{
  background: #21424a;
  border: solid 1px #33CAF9;
}

.detalles-agregar_articulo img{
  width: 40px;
  height: 40px;
  margin-left: -7px;
  margin-top: 9px;
}

#footer{
  background: black;
  width: 100%;
  height: 34px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  color: #c4c4c4;
  padding: 9px;
  font-size: 11px;
  text-align: center;
}

#footer>span.enviar-email{
  float: left;
  font-size: 25px;
  margin-top: 2px;
  margin: 2px 10px;
  cursor: pointer;
}

#footer>span.enviar-email:hover{
  color: #33CAF9;
}

.detalles-tabla{
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  text-align: left;
  font-size: 11px;
  color: white;
}


.detalles-tabla-acciones{
  text-align: center;
  padding: 0px !important;
}

.detalles-tabla-acciones img{
  width: 29px;
  height: 29px;
  border: solid black 1px;
  margin: 2px 0px 0px 2px;
  cursor: pointer;
}

.detalles-tabla-acciones img:hover{
  background: #21424a;
  border: solid 1px #33CAF9;
}

.detalles-tabla td{
  background: black;
  padding: 6px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width:1024px){
  .detalles-fotos{
    vertical-align: middle;
    text-align: center;
    width: 90px;
  }
}