#easy-opener-section {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 10001;
	display: none;
	}
	
.easy-opener-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #0d0d0d;
	z-index: -1;
	opacity: 0.97; 
	filter: alpha(opacity=97); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	}
	
.easy-opener-content {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%; margin-left: -500px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	text-align: center; 
	}
	
.easy-opener-content img {
	max-width: 100%;
	max-height: 100%;
	}
	
.easy-opener-close {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../img/sprites.png) -280px 0px no-repeat;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	position:absolute;
	top: -60px;
	left: 50%; margin-left: -15px;
	}
	
.easy-opener-next {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../img/sprites.png) -160px 0px no-repeat;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	position:absolute;
	top: -60px;
	right: 50%; margin-right: -50px;
	}
	
.easy-opener-prev {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../img/sprites.png) -190px 0px no-repeat;
	-webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
	position:absolute;
	top: -60px;
	left: 50%; margin-left: -50px;
	}
	
.easy-opener-close:hover, .easy-opener-next:hover, .easy-opener-prev:hover {
	opacity: 0.7; 
	filter: alpha(opacity=70); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	}