﻿<!doctype html>
<html lang="es">
<head>

  <!-- Metas -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Titulo -->
  <title>Distribuidora Libertad</title>

  <!-- Estilos de pagina -->
<style type="text/css" media="screen"> 
  body { margin:0; padding:0; } 
  #aviso { height: 470px; width: 390px; position: absolute; left: 50%; top: 50%; margin-left: -195px; margin-top: -250px; }
  #aviso_texto { width: 390px; height: 263px; } 
  #aviso_firefox { margin-left: 0px; border: none; }
  #aviso_firefox img { border: 0px;}
  #aviso_chrome { margin-left: 40px; border: none;}
  #aviso_chrome img { border: 0px;}
</style>

</head>
<body> 
<div id="aviso">
  <img src="./img/update_browser_note.jpg" id="aviso_texto"/>
  <a href="https://www.google.com/intl/es/chrome/browser/?hl=es" id="aviso_chrome">
    <img src="./img/update_browser_chrome.jpg"/>
  </a>
  <a href="http://www.mozilla.org/es-AR/firefox/new/" id="aviso_firefox">
    <img src="./img/update_browser_firefox.jpg"/>
  </a>
</div>
</body>
</html>